<head>
$(document).ready(function() {
  $('[data-toggle=offcanvas]').click(function() {
    $('.row-offcanvas').toggleClass('active');
  });
});
</head>
<nav class="navbar navbar-inverse navbar-fixed-top navbar-dashboard-custom " role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href=<%= dashboard_path%>>Sekolah Repoeblijk portal  E-Class</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href=<%= dashboard_courses_path %>>Courses</a></li>
            <li><a href=<%= dashboard_grades_path %>>Grades Evaluation</a></li>
            <li><a href=<%= dashboard_admfee_path %>>Administration Fee</a></li>
            <li><a href=<%= dashboard_profiles_path %>>Setting Profiles</a></li>
            <li><a href=<%= dashboard_onlinetest_path %>>ONLINE TEST</a></li>
            <li><a href=<%= dashboard_help_path %>>Help</a></li>
                     <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          </ul>

        </div>
      </div>
</nav>



