<html>
<head></head>

<body>
<div class="container">
<%= render "dashboard/navdashboard" %>

<div class="container-fluid">
      
      <div class="row row-offcanvas row-offcanvas-left">
        
         <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
<br><br><br><br><br><br>           <ul class="nav nav-sidebar">
                      <li><a href=<%= course_course1_path %>>LA-1: Introduction to Management (basic) </a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li><a href=<%= course_course2_path %>>LA-2: Introduction to Information Technology </a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li><a href=<%= course_course3_path %>>LA-3: Basic Entrepreneurship & Entrepreneur Behavior</a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li><a href=<%= course_course4_path %>>LB-1: Managing the Family Firm</a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li><a href=<%= course_course5_path %>>LB-2: Small Business Consulting</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href=<%= course_course6_path %>>LB-3: Wholesale and Retail Sales</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href=<%= course_course7_path %>>LC-1: Life and Works of Rizal</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href=<%= course_course8_path %>>LC-2: Operational Research</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href=<%= course_course9_path %>>LC-3: Statistics & Research Methodology</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href=<%= course_course10_path %>>LD-1: Business Opportunities 1 & 2</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href=<%= course_course11_path %>>LD-2: Total Quality Management</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href=<%= course_course12_path %>>LD-3: Microfinance and Cooperative Accounting</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href=<%= course_course13_path %>>LE-1: Business and Production Innovation</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href=<%= course_course14_path %>>LE-2: Entrepreneurship Integration</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href=<%= course_course15_path %>>LE-3: Agricultural Entrepreneurship</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href=<%= course_course16_path %>>LF-1: Business and Production Innovation</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href=<%= course_course17_path %>>LF-2: Venture Capital</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href=<%= course_course18_path %>>LF-3: Business Plan 1 & 2</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href=<%= course_course19_path %>>LG-1: Business Implementation 1</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href=<%= course_course20_path %>>LG-2: Project Feasibility & Bus. Research</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href=<%= course_course21_path %>>LG-3: Law on Business Organizations</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href=<%= course_course22_path %>>LH-1: Transfer and Business Taxes</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href=<%= course_course23_path %>>LH-2: New Market Development</a></li>
            </ul> 
            <ul class="nav nav-sidebar">
              <li><a href=<%= course_course24_path %>>LH-3: Fields Trips and Seminars/Project Presentation</a></li>
            </ul> 

        </div><!--/span-->
        
        <div class="col-sm-9 col-md-10 main">
          
          <!--toggle sidebar button-->
          <p class="visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
          </p>
          
<hr>
<hr>
          <h2 class="sub-header">Course 20</h2>
     </div>
</div>

</div>
</body>
</html>
