
   <div class="row">
		<br>
   </div>
   <div class="row  nav-justified">

	  <%= image_tag "sekrep-logo.jpg", class:'col-md-3 pull-left'  %>
	
    </div>

   <div class="row">
			<br>
			<ul class="nav nav-tabs nav-justified custom-nav navbar-default">
				<li><a href= <%= root_path%>><h4>Home</h4></a></li>
				<li><a href= <%= welcome_program_path %>><h4>Programs</h4></a></li>
				<li><a href= <%= welcome_news_path %> ><h4>News</h4></a></li>
				<li><a href= <%= welcome_gallery_path %>><h4>Gallery</h4></a></li>
				<li><a href= <%= welcome_registration_path %>><h4>Registration</h4></a></li>
				<li><a href= <%= new_user_session_path %>><h4>Portal</h4></a></li>
            </ul>
</div>

	<div class="row">
	